.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}

body{
  background-color: #453a88;
  color: white;
  font-family:'Times New Roman', Times, serif;
}

button{
  background-color: #53c72e;
  color: white;
  width: 14vw;
  padding: 1.2vh;
  border-radius: 20px;
  cursor: pointer;
}

p{
  font-size: 4vh;
}

/* .container{
  position: absolute;
  bottom: 50%;
  left: 40%;
} */